@media only screen and (min-width : 1921px) {
  .banner-title {
    font-size: 64px;
  }
  .adrow-w, .mnurow-cart-col,
  .top-mnu a {
    font-size: 25px;
  }
  .mnurow-form {
    margin-left: 64px;
  }
  .mnurow-btn {
    margin-left: 15px;
  }
}

@media only screen and (max-width : 1800px) {
  .contain {
    max-width: 1170px;
  }
  .logo2 {
    margin-right: unset;
  }
  .mnurow-form,
  .mnurow-cart-col {
    margin-left: unset;
  }
  input[type="text"].mnurow-input {
    width: auto;
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }
  .top-mnu {
    margin: 0 -15px;
    li {
      margin: 0 15px;
    }
    a {
      font-size: 19px;
    }
  } 
  .adrow-w,
  .mnurow-cart-col {
    font-size: 17px;
  }
  .mnurow-w {    
    justify-content: space-between;
  }
  .banner-title {
    font-size: 43px;
  }
  .advantages {
    padding: 60px 0;
  }
  .advantages__item {    
    flex-wrap: wrap;
  }
  .advantages__num {
    margin-bottom: 15px;
    margin-right: 0;
  }
  .advantages__text {
    width: 100%;
  }
  .newprods__col {
    width: 33.3333%;
  }
  .galblock__item {
    height: 447px;
  }
  input[type="text"].form__input {
    width: 25%;
  }
  .coworkers__col {
    width: 33.333%;
  }

  .left-contain-padding {
    padding-left: calc((100% - 1170px)/2);
  }
  .about__text {
    padding-right: 15px;
  }
  .about-slogan__text {
    font-size: 34px;
    max-width: 450px;
    margin-right: 4%;
    margin-top: -19px;
  }
  .cat-description {
    margin-top: 55px;
  }
  .cat-description__link {
    margin-top: 53px;
  }
  .about {
    -webkit-align-items: center;
    align-items: center;
  }
  .about__text {
    padding-top: 0;
  }
  p {
    font-size: 21px;
  }
  .contsfeed__conts {
    max-width: 377px;
  }
  .pcats {
    margin-bottom: 0;
  }
  .pcats-ul li a {
    font-size: 27px;
  }
  .spage-title {
    font-size: 36px;
  }
  .catfilter-row {
    .catfilter-col {
      width: 33.3333%;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  .prod-r {
    margin-left: 20px;
  }
  .prod-w {
    padding-right: 0;
  }
  .prod-gal-b {
    height: 547px;
  }
}
@media only screen and (max-width : 1199px) {
  .contain {
    max-width: 970px
  }

  .left-contain-padding {
    padding-left: calc((100% - 970px)/2);
  }

  .top-mnu {
    display: none;
    position: absolute;    
    top: 0;
    left: 0;
    min-height: 100px;
    z-index: 12;
    background-color: #FFF; 
    width: 100%;
    padding: 40px 45px 40px 15px;  
    padding-left: calc((100% - 970px)/2);
    margin-left: 0;
    margin-right: 0;  
    z-index: 100;    
    li {
      margin-bottom: 9px;
      margin-left: 0;
      margin-right: 0; 
    }
    a {
      font-size: 20px;
    }
    
    .mega-mnu-title {
      color: #111;
    }
    .mega-mnu-ul a {
      color: #999;
      font-weight: 400;
      &:hover {
        color: #92ba1f;
      }
    }
    .mega-mnu-butt {
      color: #111111;
      &:hover {
        color: #FFF;
      }
    }
    .mega-mnu-ul-big a {
      color: #111;
    }
  }
  .hidden-mnu {
    display: block;      
    position: relative;
    z-index: 11;
  }
  .toggle-mnu {
    display: block;
    float: right;
    right: 0;
    top: 0;
    text-align: center;
    line-height: 48px;
    display: block;
    width: 16px;
    height: 9px;
    margin: 0;    
  }
  .toggle-mnu:focus {
    outline: none;
  }
  .toggle-mnu span {
    position: relative;
    display: block;  
    transition: all 0.3s;    
    backface-visibility: hidden;
    width: 16px;
    height: 3px;   
    background: #000 
    
  }
  .toggle-mnu span {
    &:after, &:before {
      content: "";
      position: absolute;
      left: 0;
      top: -4px;
      width: 16px;
      height: 3px;   
      background: #000;
      transition: all 0.3s;    
      backface-visibility: hidden;             
      border-radius: 1px;
    }
  }
  .toggle-mnu span:after {
    top: 3px;     
  }
  .toggle-mnu span:before {

  }

  .toggle-mnu {      
    span {
      background-color: transparent;
    }
  }

  .top-close {
    display: block;
    position: absolute;  
    top: 40px;
    right: 45px;
    width: 40px;
    height: 40px;
    background: url("../img/close.svg") $nr top right;  
    background-size: 15px;
  }



  .toggle-mnu.on span:before    {
    transform: rotate(45deg) translate(5px, 5px);
    top: -6px;
  }
  .toggle-mnu.on span:after    {
    transform: rotate(-45deg) translate(8px, -9px);
    top: 13px;
  }
  .toggle-mnu.on + #menu {
    opacity: 1;
    visibility: visible;
  }
  .col-mnu {
    order: 100;
    margin-left: 25px;
  }
  .mnurow-w {            
    justify-content: flex-end;

  }
  .logo2 {
    margin-right: auto;
  }
  .mnurow-cart-col {
    margin-left: 40px;
  }
  .banner-title {
    font-size: 34px;
  }
  .banner-l {
    padding-top: 0;
  }
  .banner {    
    align-items: center;
    margin-top: 50px;
  }
  .banner-link {
    font-size: 19px;
  }
  .cats-img-w {
    height: 200px;
    margin-bottom: 10px;
  }
  .cats-title {
    font-size: 18px;
    line-height: 1;
  }
  .cats-item {
    width: 225px;
  }
  .advantages__text {
    font-size: 20px;
  }
  .galblock__title {
    font-size: 27px;
  }
  .galblock__link {
    font-size: 17px;
  }
  .newprods {
    padding-bottom: 70px;
  }
  .galblock {
    margin-bottom: 60px;
  }
  .formmain {
    margin-top: 0;
  }
  .galblock__item {
    height: 370px;

  }
  .galblock_title-row {
    margin-bottom: 29px;
  }
  .galblock__link {
    margin-top: 29px;
  }
  input[type="text"].form__input {
    font-size: 18px;
  }
  .form__label input[type="checkbox"] + span {
    width: 25px;
    height: 25px;
    margin-right: 7px;
  }
  .form__label input[type="checkbox"]:checked + span:after {
    width: 12px;
    height: 12px;
    top: calc(50% - 6px);
    left: 6px;
  }
  .footer__row {    
    justify-content: flex-start;
  }
  .footer__col {
    width: 33.3333%;
  }
  .coworkers__col {
    width: 50%;
  }
  .awards__row {
    margin: 0 -30px;
  }
  .awards__item {
    padding: 0 30px;
  }
  .awards__item img {
    max-height: 150px;
    width: auto;
  }
  p {
    font-size: 16px;
  }
  a.link {
    font-size: 18px;
  }
  .cat-description__link {
    margin-top: 33px;
  }
  .coworkers {
    margin-top: 46px;
  }
  .threeblocks__row {
    margin: 0 -10px;
    .threeblocks__col {
      padding: 0 10px;
    }
  }
  .contsfeed__row {    
    flex-wrap: wrap;
  }
  .contsfeed__conts {
    max-width: 100%;
    margin-bottom: 60px;
  }
  .contsfeed__link {
    margin-top: 35px;
  }
  .contsfeed__socials {
    margin-top: 47px;
  }
  .feedback {
    max-width: 100%;
    padding: 50px;
  }
  .feedback__title {
    font-size: 30px;
  }
  .pcats-l {
    width: 245px;
    padding-top: 0;
  }
  .spage-link {
    margin-top: 14px;
  }
  .spage-title {
    margin-bottom: 19px;
  }
  .bread li,
  .back-link {
    font-size: 17px;
  }
  .spage-content {
    margin-top: 34px;
    padding-bottom: 60px;
  }
  .revs-row {    

    .revs-col {
      width: 100%;
    }
  } 
  .revs-it {
    margin-bottom: 30px;
  }
  .revs-stars {
    margin: 15px 0 10px 0;
  }
  .revs-txt {
    font-size: 17px;
  }
  .revs-it {
    padding: 20px 30px;
  }
  .revs {
    padding: 50px 0;
  }
  .prod-gal-row {
    display: block;
  }
  .prod-gal-downl {
    margin-right: 0;
    width: 100%;
    + .prod-gal-downl {
      margin-top: 15px;
      
    }
  }
  .sprod {
    margin: 55px 0;
    margin-top: 40px;
  }
  .prod-r-gal-row {   
            flex-wrap: wrap; 
  }
  .fast {
    display: flex;
  }
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
  .contain {
    max-width: 750px 
  }    
  
  .left-contain-padding {
    padding-left: calc((100% - 750px)/2);
  }

  .banner-title {
    font-size: 27px;
  }
  .banner-link,
  .adrow-w, .mnurow-cart-col {
    font-size: 16px;
  }
  .top-mnu {
   padding-left: calc((100% - 750px)/2); 
 }  
 .advantages__row {   
   flex-wrap: wrap;
 }
 .advantages__col {
   width: 100%;
   &:not(:last-child) {
     margin-bottom: 35px;
   }
 }
 .newprods__col {
   width: 50%;
 }
 .galblock__galery .galblock__item {
   padding: 0 5px;
 }
 .galblock__item {
  height: 290px;

}
.form__inputs {
  flex-wrap: wrap;
}
input[type="text"].form__input {
  width: calc(33.3333% - 10px);
}
.form__button {
  margin: auto;
  margin-top: 30px;
}
.form__title {
  font-size: 30px;
}
.form__subtitle {
  font-size: 18px;
}
.form {
  padding: 30px 40px;
}
.form__label-text {
  font-size: 14px;
}
.footer__col {
  width: 50%;
}
.footer__col--1 {
  order: 1;
}
.footer__col--2 {
  order: 2;
}
.footer__col--3 {
  order: 4;
}
.footer__col--4 {
  order: 3;
}
.footer__col--5 {
  order: 5;
}
.coworkers__row {
  margin: 0 -15px;
  .coworkers__col {
    padding: 0 15px;
  }
}
.coworkers__img {
  height: 367px;
}
.about-block {
  display: flex;  
  flex-direction: column;
  margin-top: 40px;
}
.about-slogan {  
  justify-content: flex-start;  
  order: -1
}
.about-slogan__text {
  font-size: 21px;
  width: 100%;
  max-width: 100%;
  margin-right: 20px;
  margin-top: 0;
  margin-bottom: 15px;
}
.about {
  margin-top: 0;
}

.about__image {  
  width: 200px;
}
.cats--no-titles {
 .cats {
   margin-top: 60px;
 }
}
.header-2 {
  padding-top: 31px;
}
.contsmap__map {
  height: 365px;
}
.contsmap {
  margin-bottom: 25px;
}
.threeblocks__item {
  height: 166px;
}
.contsfeed__conts-title {
  font-size: 16px;
  margin-bottom: 23px;
}
.contsfeed__conts-table td {
  font-size: 15px;
}
a.contsfeed__link {
  font-size: 15px;
}
.contsfeed__conts {
  margin-bottom: 45px;
}
.contsfeed__socials {
  margin-top: 22px;
}
.threeblocks {
  margin-bottom: 45px;
}
.contsfeed__social {
  width: 30px;
  height: 30px;
  img {
    max-width: 100%;
  }
}
.feedback {
  padding: 40px;
}
.feedback__title {
  font-size: 25px;
}
input[type="text"].feedback__input {
  font-size: 15px;
}
.label-textarea {
  font-size: 15px;
}
.addform_file-label span {
  font-size: 18px;
}
.addform_file-w {
  margin-top: 35px;
}
.addform_file-desc,
.feedback-form__label div {
  font-size: 14px;
}
.feedback__subject {
  font-size: 17px;
}
.feedback__radio-label-text {
 font-size: 15px;
}
.feedback__radio-label input[type="radio"] + span {
 width: 25px;
 height: 25px;
}
.feedback__radio-label input[type="radio"]:checked + span:after {
 left: 4px;
}
.feedback__next {
 margin-top: 23px;
}
.feedback-form__btn {
 font-size: 22px;
}
.pcats-ul li a {
 font-size: 21px;
}
.pcats-ul li {
 margin-bottom: 18px;
}
.catfilter-row {
  .catfilter-col {
    width: 50%;
  }
}
.iocn-item {
  font-size: 15px;
  height: 30px;
  padding: 0 7px;
}
.prod-w {  
          flex-wrap: wrap;
}
.prod-l {
  width: 100%;
  margin-top: 25px;
}
.prod-r {
  padding-left: 0;
  order: -1;
  width: 100%;
  margin-left: 0;
  max-width: 100%;
}
.vid {
  margin-bottom: 54px;
}
.desc {
  h4 {
    margin-bottom: 25px;
  }
}
} 

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
  .contain {
    max-width: 600px;
  }

  .left-contain-padding {
    padding-left: calc((100% - 600px)/2);
  }

  .top-mnu {
   padding-left: calc((100% - 600px)/2); 
 }  
 .banner-l {
  padding-right: 20px;
}
.prod-teaser-item__title {
  font-size: 17px;
}
.prod-teaser-item__text {
  font-size: 14px;
}
.prod-teaser-item__price {
  font-size: 22px;
}
.prod-teaser-item__image {
  height: 204px;
  margin-bottom: 10px;
}
.popprods-w,
.newprods__row {
  margin: 0 -10px;
}
.popprods-col,
.newprods__row .newprods__col {
  padding: 0 10px;
}
.slick-next {
  right: 20px;
}
.slick-prev {
  left: 20px;
}
.head-row {
  h2 {
    font-size: 33px;
  }  
}

.head-link {
  font-size: 17px;
}
.newprods__row {
  margin-bottom: -40px;
}
.newprods__col {
  margin-bottom: 40px;
}
.galblock__item {
  height: 242px;
  
}
.galblock__title {
  width: 100%;
}
.galblock__link {
  margin-top: 15px;
}
.coworkers__img {
  height: 287px;
}
.coworkers__title {
  font-size: 24px;
}
.coworkers__subtitle {
  font-size: 20px;
}
.awards__item img {
  max-height: 100px;
  width: auto;
}
.awards__row {
  margin: 0 -10px;
}
.awards__item {
  padding: 0 10px;
}
.awards {
  padding: 50px 0;
}
.about {
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
p,
a.link {
  font-size: 14px;
}
.cat-description__link {
  margin-top: 13px;
}

.cat-description__row {
  margin: 0 -10px;
}
.cat-description__col {
  padding: 10px;
}
.cat-description {
  margin-top: 30px;
}
.pcats-l {
  width: 175px;
}
.pcats-ul li {
  margin-bottom: 14px;
  a {
    font-size: 19px;
  }
} 
.cat-links-ul a,
.cat-links-ul-2 a {
  font-size: 18px;
}
.cat-links-row {
  padding: 20px 0;
}
.catfilter-label input[type="radio"] + span, .catfilter-label input[type="checkbox"] + span {
  width: 25px;
  height: 25px;
}
.catfilter-tit {
  font-size: 20px;
}
.catfilter-txt {
  margin-left: 7px;
  font-size: 18px;
}
.prod-gal-min-w {
  width: 75px;
}
.prod-gal-min {
  height: auto;
}
}      

@media only screen and (max-width : 640px) {
  .contain {
    max-width: 530px;
  }

  .left-contain-padding {
    padding-left: calc((100% - 530px)/2);
  }

  .top-mnu {
   padding-left: calc((100% - 530px)/2); 
 }  
 .mnurow-search-col {
   display: none;
 }
 .top {
   padding: 30px 0;
 }
 .banner-title {
   font-size: 24px;
 }
 .galblock__item {
  height: 216px;  
}
.galblock__title {
  font-size: 24px;
}
.galblock__link {
  font-size: 16px;
}
.brand-block__img {
  width: calc(100% - 50px);
}
.brand-block__logo {
  margin-right: 10px;
}
.spage-link {
  margin-top: 0;
}
.cat-links-ul a, .cat-links-ul-2 a {
  font-size: 17px;
}
.filter-open {
  font-size: 18px;
  &:after {    
    background-size: 10px;
  }
}
.catfilter-tit {
  font-size: 17px;
}
.catfilter-txt {
  font-size: 17px;
}
.sprod {
  margin-bottom: 35px;
}
.vid-a {
  height: 270px;
}
.fast {
  font-size: 12px;
  span {
    display: inline-block;
    padding-right: 50px;
  }
}
} 



@media only screen and (max-width : 570px) {
  .contain {
    width: 100%;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .left-contain-padding {
    padding-left: 15px;
    padding-right: 15px;  
  }



  .top-close {
    top: 15px;
    right: 15px;
  }   
  .top-mnu {   
   padding: 15px;
 }  
 .adrow-w {   
   justify-content: space-between;
 }
 .banner-link, .adrow-w, .mnurow-cart-col {
   font-size: 14px;
 }
 .adrow-tel-time {
   text-align: right;
 }
 .cats-img-w {
   height: 160px;
   margin-bottom: 3px;
 }
 .cats-item {
   width: 180px;
 }
 .cats-col {
   margin: 0 8px;
 }
 .cats-title {
   font-size: 16px;
 }
 .head-row h2 {
   width: 100%;
   margin-bottom: 10px;
 }
 .prod-teaser-item__title {
   line-height: 1.1;
   margin-bottom: 3px;
 }
 .galblock__item {
  height: 182px;
}
input[type="text"].form__input {
  width: 100%;  
  margin-bottom: 25px;  
}
.form__button {
  margin-top: 0;
}
.footer__row {
  margin-bottom: -40px;
}
.footer__col {
  width: 100%;
  margin-bottom: 40px;
}
.copyright {
  margin-top: 15px;
}

.coworkers {
  padding-bottom: 30px;
}
.coworkers__col {
  margin-bottom: 30px;
}
.coworkers__img {
  height: 217px;
  margin-bottom: 10px;
}

.coworkers__title {
  font-size: 20px; 
  margin-bottom: 5px;
}
.coworkers__subtitle {
 font-size: 16px;
}
.about {  
  flex-wrap: wrap;

}
.about__text {
  width: 100%;
}
.about__image {
  margin-left: 15px;
  margin-bottom: 20px;
  order: -1;
} 
.about-slogan {
  margin-bottom: 5px;
}
.contsmap,
.route__row {  
  flex-wrap: wrap;
}
.route__row > div {
  width: 100%;
}
.route__col-left {
  margin-bottom: 17px;
}
.contsmap__map {
  width: 100%;
  padding: 0 15px;
}
.threeblocks__item {
  height: 136px;
}
.feedback {
  padding: 30px;
}
.feedback__title {
  font-size: 21px;
}
.addform_file-w {
  flex-wrap: wrap;
}
.addform_file-desc {
  margin-top: 15px;
}
.addform_file-w {
  margin-top: 17px;
}
.pcats-r img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: right top;
}
.back-link {
  width: 100%;
}
.revs-tit {
  margin-bottom: 30px;
}
.revs-txt {
  font-size: 16px;
}
.cat-links-ul,
.cat-links-ul-2 {  
  flex-wrap: wrap;
  li {
    width: 100%;
    margin-bottom: 15px;
  }
}
.cat-items,
.more-cat-items-link-w {
  margin-top: 30px;
}
.cat-popprods {
  margin-top: 30px;
  padding-top: 30px;
}
.see-popprods h4 {
  margin-bottom: 30px;
  font-size: 23px;
}
.see-popprods-bott {
  padding-bottom: 0;
}
.sprod {
  margin-top: 10px;
}
.prod-gal-downl,
.prod-r-desc-txt-6,
.prod-r-opt p,
.prod-r-desc-txt-2 {
  font-size: 16px;
}
}

@media only screen and (max-width : 480px) {
  .banner {    
    flex-wrap: wrap;
  }
  .banner-r {
    padding: 15px;
    img {
      width: 100%;
      height: auto;
    }
  }
  .banner-l {
    margin-bottom: 15px;
  }
  .banner-l,
  .banner-r {
    width: 100%;
  }
  .banner-title {
    margin-bottom: 5px;
  }
  .cats {
    margin-top: 35px;
  }
  .adrow-w {    
    flex-wrap: wrap;
    > * {
      width: 100%;
      padding: 0;
      margin: 0;
      text-align: center;
    } 
  }
  .adrow-tel-time {
    margin-top: 15px;
  }
  .newprods__row {
    margin-bottom: 0;
  }
  .newprods__col {
    width: 100%;
    margin-bottom: 30px;
    width: 50%;
  }
  .galblock__item {
    height: 150px;  
  }
  .newprods {
    padding-bottom: 30px;
  }
  h3 {
    font-size: 22px;
  }
  .head-row h2 {
    font-size: 28px;
  }

  .advantages__text,
  .galblock__link,
  .head-link,
  .advantages__num {
    font-size: 14px;
  }
  .advantages__num {
    width: 26px;
    height: 26px;
    font-size: 14px;    
  }
  .prod-teaser-item__price {
    font-size: 17px;
  }
  .newprods {
    padding-top: 52px;
  }
  .galblock {
    margin-bottom: 40px;
  }
  .galblock__title {
    font-size: 20px;
  }
  .advantages__row {
    margin-top: 25px;
  }
  .form {
    padding: 30px 20px;
  }
  input[type="text"].input {
    font-size: 16px;
  }
  .coworkers__img {
   height: 157px;
 }
 .coworkers__title {
   font-size: 17px;
 }
 .coworkers__subtitle {

 }
 .coworkers__row {
  margin: 0 -7px;
  .coworkers__col {
    padding: 0 7px;
  }
}
h4 {
  margin-bottom: 27px;
  font-size: 23px;
} 
.form__title {
  font-size: 23px;
}
.form__button {
  font-size: 19px;
}
.coworkers {
  padding-top: 47px;
}
.coworkers {
  margin-top: 46px;
}
.header-2 {
  padding-top: 46px;
}
.about {
  width: 100%;
}
.about__image {
  width: calc(100% - 30px);
  margin-right: 15px;
  img {
    max-width: 100%;
  }
}
.cat-description__row {  
  flex-wrap: wrap;
}
.cat-description__col {
  width: 100%;
}
p {
  margin-bottom: 13px;
}
.contsmap__map {
  height: 225px;
}
.route {
  padding-bottom: 45px;
}
.threeblocks {
  margin-top: 40px;
}
.feedback__row {  
  flex-wrap: wrap;
  .feedback__col {
    width: 100%;
  }
}

.pcats-l {
  width: 155px;
}
.prod-teaser-item__image {
  height: 155px;
}
.prod-teaser-item__title {
  font-size: 16px;
}
.more-cat-items-link-w {
  margin-top: 10px;
}
.slick-arrow {
  top: calc(50% - 10px);
}
.desc-w-2 {  
          flex-wrap: wrap;
}
.desc-col {
  width: 100%;
}
.desc-col p {
  margin-bottom: 15px;
}
.prod-gal-b {
  height: 237px;
}
.prod-gal-b-span {
  right: 10px;
  top: 10px;
}
.modal-overlay .modal-form__block {
  padding: 20px;
}
}

@media only screen and (max-width : 375px) {
.catfilter-row .catfilter-col {
  width: 100%;
}
}

@media only screen and (max-width : 320px) {
  body, body > * {
    width: auto;
    min-width: 360px;
  }
}


@media only screen and (min-width : 1200px) {
  .top-mnu {
    display: flex;
  } 

  .hidden-mnu {
    display: none;
  }
} 


