@charset "UTF-8";

$nr: no-repeat;
$rb: right bottom;
$rt: right top;
$rc: right center;
$cc: center center;
$lc: left center;
$lb: left bottom;
$bc: bottom center;
$i: !important;
$tr: transparent;
$bord: 1px solid #EAEAEA;
$black: #000;
$col2: #808080;



@import "_reset.scss";
@import "_grid.scss";
@import "_vars.scss";


a {
  text-decoration: none;
  
  
  &:hover {
    text-decoration: underline;
  }
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 1;
  color: #000;
  font-weight: 400;
  position: relative;
  min-height: 100vh;
}

.wrapper {
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;  
  overflow: hidden;
  display: flex;    
  flex-direction: column;    
  min-height: 100vh;
  position: relative;
}

.overlay {
  opacity: 0.8;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  display: none;
}

.contain {
  max-width: 1717px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}


.top {
  padding-top: 53px;
  padding-bottom: 41px;
  height: auto;
}


.top-w {
  display: flex;
  width: 100%;
  justify-content: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-img {
  max-width: 100%;
}

.adrow {
}

.adrow-w {
  display: flex;
  justify-content: flex-end;  
  align-items: center;
  font-size: 19px;
  line-height: 1.3;
  font-weight: 600;
  color: rgb(134, 134, 134);
}

.adrow-adress {
}

.adrow-tel-time {
  margin-left: 61px;
  p {
    font-weight: 600;
  }
}

.adrow-tel {
  display: block;
  margin-bottom: 5px;
  color: rgb(134, 134, 134);
  line-height: 1.3;
}



.mnurow {
  margin-top: 33px;
  
}

.mnurow-w {
  display: flex;  
  align-items: flex-end;
}

.logo2 {
  width: 53px;
  height: 59px;
  display: block;
  margin-right: 126px;
}

.logo2-img {
  max-width: 100%;
}

.col-mnu {
  margin-left: 10px;
}

.hidden-mnu {
}

.toggle-mnu {
}

.top-mnu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 -33px;
  position: relative;
  li {
    margin-left: 33px;
    margin-right: 33px;
  }

  a {
    font-size: 22px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: rgb(128, 128, 128);
    &.act {
      color: #000;
    }
  }
}


.top-close {
  display: none;
}


.mnurow-search-col {
}

.mnurow-form {
  display: flex;
  align-items: center;
  margin-left: 124px;
}

input[type="text"].mnurow-input {
  width: 323px;
  border: none;
  border-bottom: 1px solid rgb(227, 227, 227);  
}

.mnurow-btn {
  background-image: url("../img/search.png");
  background-repeat: no-repeat;
  background-position: left top;
  width: 24px;
  height: 22px;
  display: block;
  margin-left: 5px;
  flex: none;
}

.mnurow-cart-col {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-size: 22px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: rgb(0, 0, 0);
  flex: none;
}

.mnurow-cart {

  a {
    color: rgb(0, 0, 0);
    text-decoration: underline;  
  }
}



.mnurow-price {  
  margin-left: 21px;
}

.banner {
  margin-top: 70px;
  display: flex;
}

.left-contain-padding {
  padding-left: calc((100% - 1717px)/2);  
}


.banner-l {
  width: 50%;
  padding-top: 107px;
  padding-left: calc((100% - 1717px)/2);
  padding-right: 50px;
  @media only screen and (max-width : 1800px) {
    padding-left: calc((100% - 1170px)/2);
  }
  @media only screen and (max-width : 1199px) {
    padding-left: calc((100% - 970px)/2);
  }
  @media only screen and (max-width : 991px) {
    padding-left: calc((100% - 750px)/2);
  }
  @media only screen and (max-width : 767px) {
    padding-left: calc((100% - 600px)/2);
  }
  @media only screen and (max-width : 640px) {
    padding-left: calc((100% - 530px)/2);
  }
  @media only screen and (max-width : 570px) {
    padding-left: 15px;
  }
}

.banner-title {
  font-size: 54px;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 13px;
}

.banner-link {
  font-size: 24px;
  line-height: 2.7;
  font-weight: 500;
  text-decoration: underline;
  color: rgb(0, 0, 0);
}

.banner-r {
  width: 50%;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.banner-img {
}

.cats {
  display: flex;
  flex-wrap: wrap;
  margin: 85px -14px 0 -51px;
}

.cats-col {
  margin: 0 14px;
}

.cats-item {
  width: 475px;
}

.cats-img-w {  
  height: 425px;
  margin-bottom: 25px;
  overflow: hidden;
  display: flex;  
  justify-content: center;
  align-items: center;
  img {
    max-width: 100%;
    width: 100%;
  }
}



.cats-title {
  font-size: 24px;
  line-height: 2.7;
  font-weight: 500;
  color: rgb(128, 128, 128);
  &:hover {
    text-decoration: underline;
    color: #000;
  }
}

.popprods {  
  background-color: #f4f4f4;
  padding: 62px 0 49px 0;
}

.head-row {
  display: flex;    
  align-items: flex-end;
  justify-content: space-between;
  line-height: 1.4;  
  flex-wrap: wrap;
  h2 {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 0;    
  }
  margin-bottom: 44px;
}
.head-link {
  color: #000;
  font-size: 25px;
  font-weight: 500;
  text-decoration: underline;
  
}

.popprods-w {
  margin: 0 -28.5px;
}
.popprods-col {
  padding: 0 28.5px;
}

.prod-teaser-item {

}

.prod-teaser-item__title {
  font-size: 24px;
  line-height: 30px;
  line-height: calc(30 / 24 * 100%);
  font-weight: 500;
  letter-spacing: -0.02em;
  margin-bottom: 5px;
  color: #000;
  display: block;
}

.prod-teaser-item__text {
  font-size: 24px;
  line-height: calc(30 / 24 * 100%);
  font-weight: 300;
  letter-spacing: -0.02em;
}

.prod-teaser-item__image {
  display: block;
  width: 100%;
  height: 294px;
  margin-top: 10px;
  margin-bottom: 24px;
  position: relative;
  &:hover {
    text-decoration: none;
    .fast {
      display: flex;
    }
  }
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.fast {
  bottom: 0;
  left: 0;
  width: 100%;
  position: absolute;
  height: 60px;
  z-index: 10;  
  font-size: 16px;
  display: flex;  
          align-items: center;
  background: url("../img/search.png") $nr right 15px center;  
                background-size: 20px;
  background-color: rgba(#FFF, 0.7);
  padding: 0 15px;
  font-size: 17px;
  text-decoration: none;
  color: #000;  
  display: none;
}

.prod-teaser-item__price {
  line-height: calc(30 / 28 * 100%);
  font-weight: 500;
  font-size: 28px;
  letter-spacing: -0.02em;
  color: #000000;
}

.slick-arrow {
  position: absolute;
  z-index: 12;
  width: 30px;
  height: 30px;    
  border: none;
  background: none;
  font-size: 0;
  background: url("../img/arr_r.png") $nr right center;
  li {
    button {
      padding: 0;        
      border: none;
    }
  }
}

.slick-next {
  right: 50px;
  top: 50%;
}
.slick-prev {
  left: 50px;
  top: 50%;
  transform: rotate(180deg);  
}


.advantages {
  padding-top: 137px;
  padding-bottom: 92px;
}

.advantages__row {
  margin-top: 45px;
}

.advantages__col {

}

h3 {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
}
.advantages__item {
  display: flex;
}
.advantages__num {  
  font-size: 25px;
  display: flex;
  
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  flex: none;
  margin-right: 16px;
}
.advantages__text {
  font-size: 24px;
  line-height: calc(38 / 24 * 100%);
  font-weight: 400;
  letter-spacing: 0.005em;
  color: #000000;
}


.newprods {
  padding: 82px 0 142px 0;
}

.newprods__row {
  margin-bottom: -50px;
}
.newprods__col {
  margin-bottom: 50px;
}

.galblock {
  margin-bottom: 129px;
}

.galblock_title-row {
  display: flex;  
  align-items: flex-end;
  width: 100%;          
  justify-content: space-between;
  margin-bottom: 49px;
  flex-wrap: wrap;
}
.galblock__title {  
  line-height: 1.3;
  font-size: 48px;
}
.galblock__link {
  color: #000;  
  font-weight: 700;
  border-bottom: 2px solid #000;
  margin-top: 49px;
}
.galblock__galery {}

.galblock__item {
  overflow: hidden;
  height: 720px;  
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}


.form {
  background-color: #f3f3f3;
  padding: 66px 87px 58px 87px;
}
.form__form {

}
.form__title {
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 15px;
}
.form__subtitle {
  text-align: center;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  color: #808080;
}
.form__label {
  display: block;
  margin-top: 28px;
  display: flex;      
  align-items: center;  
  justify-content: center;
  input[type="checkbox"] {
    display: none;        
    + span {
      flex: none;
      content: "";
      display: inline-block;
      position: relative;
      width: 35px;
      height: 35px;
      background-color: #FFF;
      border-radius: 50%;
      border: 1px solid #ccc;
      margin-right: 13px;      
    }      
    
    &:checked {
      + span {
        &:after {
          flex: none;
          content: ""; 
          display: block;
          width: 16px;
          height: 16px;
          background-color: #555;         
          border-radius: 50%;
          position: absolute;
          top: calc(50% - 8px);
          left: 9px;
          z-index: 10;
        }
      }
    }
  }
}

.form__label-text {  
  position: relative;
  font-size: 16px;
  color: #808080;  
  justify-content: center;      
  flex-wrap: wrap;
  line-height: 1.2;
  a {
    color: #808080;
    text-decoration: underline;
    margin-left: 5px;
    display: inline-block;
  }
}

.form__checkbox {

}

.form__inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 48px;
}

input[type="text"].input {
  border: none;
  padding: 3px;
  font-size: 24px;
  color: #000;
  border-bottom: 1px solid #878787;
}

input[type="text"].form__input {  
  width: 366px;  
}


button {
  border: none;
  background: none;
  padding: 0;
}

.form__button {
  font-size: 24px;
  font-weight: 500;
  text-decoration: underline;
  color: #000000;
  border: none;
  background: none;
}

.formmain {
  margin-top: -56px;
}


.footer {
  background-color: #333;
  color: #FFF;
  padding: 40px 0;
  font-size: 14px;
  margin-top: 65px;
  a {
    color: #FFF;
  }
  p {
    line-height: 1.2;
    color: #FFF;
    font-size: 14px;
  }
}
.contain {}
.footer__row {
  display: flex;  
  justify-content: space-between;          
  flex-wrap: wrap;
  margin-bottom: -50px;
}
.footer__col {
  display: flex;  
  flex-direction: column;
  margin-bottom: 50px;
}
.footer__col--1 {}
.footer__logo {}
.copyright {
  margin-top: auto;
}
.footer__col--2 {}
.footer__mnu-list {
  li {
    line-height: 1.2;
    &:not(:last-child) {
      margin-bottom: 19px;
    }
  }
}
.footer__col--3 {}
.footer__col--4 {}
.footer__socials {
  margin-top: auto;
  display: flex;  
  align-items: center;
}
.footer__social {
  width: 37px;
  height: 37px;
  display: block;
  &:not(:last-child) {
    margin-right: 7px;
  }
}
.footer__col--5 {}
.footer__pay {
  margin-top: auto;
  img {
    max-width: 100%;
  }
}

.header-2 {
  padding-top: 61px;
}

.coworkers {
  background-color: #f1f1f1;
  margin-top: 76px;
  padding-top: 77px;
}

.coworkers__row {}

.coworkers__col {
  margin-bottom: 66px;
}

.coworkers__item {  
}
.coworkers__img {
  background-color: #FFF;
  height: 387px;
  overflow: hidden;
  margin-bottom: 31px;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.coworkers__title {
  font-size: 30px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 10px;

}
.coworkers__subtitle {
  font-size: 24px;
  font-weight: 400;
}

h4 {
  text-align: center;
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 57px;
}

.awards {
  padding: 92px 0 107px 0;
}
.awards__contain {
  max-width: 1485px;          
}
.awards__row {
  display: flex;  
  flex-wrap: wrap;
  margin: 0 -63px;  
  align-items: center;          
}
.awards__item {
  padding: 0 63px;
  width: 25%;
  text-align: center;
  img {
    max-width: 100%;
  }
}

.cats--no-titles {
  .cats-img-w {
    margin-bottom: 0;
  }
  .cats-title {
    display: none;  
  }  
}


.cat-description {  
  margin: 139px 0 0 0;
}

.cat-description__row {
  display: flex;
  margin: 0 -50px;
}

.cat-description__col {
  width: 50%;
  padding: 0 50px;
  
  p {

  }
}

.cat-description__link {
  margin-top: 93px;
}

.link {
  display: inline-block;
  font-size: 24px;
  font-weight: 500;
  border-bottom: 1px solid #000;
  text-decoration: none;
  color: #000000;
  &:hover {
    text-decoration: none;
  }
}

.brand-block {
  position: relative;
  margin-top: 53px;
}
.brand-block__img {
  width: 70%;
  img {
    max-width: 100%;
  }
}
.brand-block__logo {
  position: absolute;
  left: 110px;
  bottom: 0;
  margin-right: 112px;
  img {
    max-width: 100%;
  }
}

p {
  font-size: 24px;
  line-height: calc(37 / 24 * 100%);
  font-weight: 400;
  color: #000000;
  margin-bottom: 22px;
}

.about {
  display: flex;
  margin-top: 43px;
}
.about__text {
  padding-top: 80px;
  padding-right: 244px;  
  flex-grow: 1;
}
.about__image {
  width: calc(30% - 30px);
  flex: none;  
  img {
    max-width: 100%;
  }
}
.about-slogan { 

  display: flex;  
  width: 100%;
  justify-content: flex-end;
}
.about-slogan__text {  
  margin-right: 280px;
  max-width: 620px;
  width: 100%;
  font-size: 65px;
  font-weight: 700;  
  line-height: 1.2;
  margin-top: -89px;
}

.contsmap {  
  margin: 55px 0 60px 0; 
  display: flex;
}
.contsmap__content {  
  flex-grow: 1;
  padding-right: 15px;
  p {
    margin-bottom: 15px;
  }
  a {
    color: #000;
  }
}
.contsmap__item {
  margin-bottom: 30px;
}
.left-contain-padding {}
.contsmap__map {
  width: 65%;
  flex: none;
  height: 515px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.route {
  padding: 56px 0 71px 0;
  background-color: #f6f6f6;
}
.contain {}
.route__row {
  display: flex;
  
}
.route__col-left {  
  flex-grow: 1;
  padding-right: 15px;
}
.route__col-rigth {
  width: 65%;
  flex: none;
}

.threeblocks {
  margin: 47px 0 87px 0;
}
.threeblocks__row {}
.threeblocks__col {}
.threeblocks__item {
  background-color: #f6f6f6;
  height: 326px;
}

.label-text {
  display: block;
  span {
    font-size: 24px;
    margin-bottom: 3px;
    display: block;
    font-weight: 400;
    color: #808080;
  }
}

.contsfeed {}
.contsfeed__row {
  display: flex;
}
.contsfeed__conts {  
  max-width: 587px;
  width: 100%;
  flex: none;
}



.contsfeed__conts-title {
  font-weight: 500;
  color: #000000;
  margin-bottom: 33px;
}
.contsfeed__conts-table {
  td {
    padding-bottom: 10px;    
    &:first-child {
      padding-right: 10px;
    }    
  }
}
.contsfeed__socials { 
  margin-top: 67px;
  display: flex;  
  flex-wrap: wrap;
}
.contsfeed__social {
  width: 44px;
  height: 44px;
  + .contsfeed__social {
    margin-left: 11px;
  }
}

.contsfeed__link {
  margin-top: 85px;
}


.contsfeed__feedback {}
.feedback {
  max-width: 838px;
  width: 100%;
  background-color: #f6f6f6;
  padding: 68px 86px 55px 86px;
}
.feedback__title {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 26px;
}
.feedback__subject {
  font-size: 24px;
  font-weight: 300;
  color: #000000;
  width: 100%;
  margin-bottom: 32px;
}
.feedback__form {}
.feedback__step-1 {}
.feedback__radio-labels {
  display: flex;  
  flex-wrap: wrap;          
}
.feedback__radio-label {
  width: 50%;
  display: flex;  
  align-items: center;
  margin-bottom: 23px;  
  input[type="radio"] {
    display: none;
    + span {
      flex: none;
      content: "";
      display: inline-block;
      position: relative;
      width: 35px;
      height: 35px;
      background-color: #FFF;
      border-radius: 50%;
      border: 1px solid #ccc;
      margin-right: 13px;      
    }      
    
    &:checked {
      + span {
        &:after {
          flex: none;
          content: ""; 
          display: block;
          width: 16px;
          height: 16px;
          background-color: #555;         
          border-radius: 50%;
          position: absolute;
          top: calc(50% - 8px);
          left: 9px;
          z-index: 10;
        }
      }
    }
  }
}
.feedback__radio {}
.feedback__label-text {
  margin-bottom: 55px;
}
.feedback__step-2 {
  display: none;
}
.feedback__row {}
.feedback__col {}
input[type="text"].feedback__input {
  margin-bottom: 30px;
  width: 100%;
}

.label-textarea {
  margin-top: 19px;
}

.textarea {
  height: 110px;
  border: none;
  border-top: 1px solid #878787;
  border-bottom: 1px solid #878787;
  background-color: #f6f6f6;
  width: 100%;
  font-size: 24px;
  line-height: 1;
  color: #000;
  padding: 3px;
}

.feedback__next {
  display: inline-block;
  margin-top: 43px;
}

.addform_file-w {
  display: flex;  
  align-items: center;
  justify-content: space-between;
  margin-top: 55px;
}

.addform_file-label {
  input {
    display: none;
  }
  span {
    text-decoration: underline;
    color: #000;
    display: inline-block;
    cursor: pointer;
    font-weight: 500;
  }
}

.addform_file-desc {
  font-size: 16px;
  color: #808080;
}


.feedback-form__label {
  margin-top: 32px;
  width: 100%;  
  justify-content: flex-start;
  div {
    font-size: 16px;
    color: #808080;
    max-width: 350px;
    line-height: 1.2;
    a {
      text-decoration: underline;
      color: #808080;
    }
  }
}

.feedback-form__btn {
 margin-top: 41px; 
}

.pcats {
  margin-top: 38px;
  display: flex;            
  margin-bottom: -65px;
}
.pcats-l {
  width: 425px;
  flex: none;
  padding-right: 15px;
  padding-top: 85px;
}
.pcats-ul {
  li {
    margin-bottom: 30px;
    a {
      font-size: 32px;      
      letter-spacing: -0.02em;
      color: #000000;
      &.active {
        font-weight: 500;
        border-bottom: 1px solid #000;
      }
      &:hover {
        font-weight: 500;
        border-bottom: 1px solid #000;
      }
    }
  }
}
.pcats-r {  
  flex-grow: 1;
  overflow: hidden;
  img {
    max-width: 100%;
  }
}

.bread-w {
  margin-top: 34px;
  display: flex;  
  flex-wrap: wrap;
  justify-content: space-between;
}
.bread {
  display: flex;  
  align-items: center;
  
  flex-wrap: wrap;
  li {
    margin-right: 3px;
    font-size: 22px;
    margin-bottom: 15px;
    &:after {
      content: "/";
      color: #808080;
      margin-left: 3px;
    }
    a {
      color: #808080;
    }
    span {
      color: #000;
    }    
    &:last-child {
      margin-bottom: 15px !important;
      &:after {
        display: none;
      }
    }
  }
}
.back-link {
  display: inline-block;
  margin-bottom: 15px;
  color: #808080;
  font-size: 22px;
}

.spage-content {
  margin-top: 64px;
  min-height: 300px;
  p {

  }
}
.spage-title {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 400;    
  color: #030608;
  margin-bottom: 49px;
}
.spage-link {
  margin-top: 24px;
}

.catfilter-row {}

.catfilter-col {  
}

.filter {
  padding-bottom: 39px;
  padding-top: 23px;
  border-bottom: 1px solid #d4d4d4;
  display: none;
}

.catfilter-form {  
}

.catfilter-tit {
  font-size: 22px;
  line-height: 1.2;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 18px;
}
.catfilter-item:not(:last-child) {
  margin-bottom: 41px;
}
.catfilter-label {
  margin-bottom: 7px;
  display: flex;  
  align-items: center;
  input[type="radio"],
  input[type="checkbox"] {
    display: none;
    + span {
      width: 33px;
      height: 33px;
      flex: none;
      border: 1px solid #808080;
    }
    &:checked {
      + span {
        background-color: #f0f0f0;
      }
    }
  }
}
.catfilter-radio {}
.catfilter-span {}
.catfilter-txt {
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  margin-left: 13px;
}


.catfilter-label-input {
  display: flex;  
  align-items: center;
  margin-bottom: 9px;
}
.catfilter-input-text {
  font-size: 20px;
  font-weight: 400;
  color: #000000;  
  margin-right: 13px;
  width: 30px;
  flex: none;
  
}
input[type="text"].catfilter-input {
  width: 100%;
  flex-grow: 1;
  height: 33px;
  width: 100%;
  padding: 0 7px;
  border: 1px solid #808080;
}

.polz {
  margin-bottom: 20px;
  max-width: 100%;
}

.catfilter-item-50 {
  display: flex;  
  align-items: center;
  .catfilter-label {
    margin-bottom: 0;
    + .catfilter-label {
      margin-left: 30px;
    }
  }
}

.filter-open-row {
  padding: 26px 0 20px 0;
  border-top: 1px solid  #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
}

.filter-open {  
  display: inline-flex;  
  align-items: center;
  text-transform: uppercase;
  color: #000;
  &:hover {
    text-decoration: none;
  }
  &:after {
    height: 23px;
    width: 14px;
    display: block;
    content: "";
    background: url("../img/arr_r.png") no-repeat right center;
    margin-left: 10px;
    transform: rotate(90deg);
  }
  &.open {
    &:after {
     transform: rotate(-90deg);   
   }
 }
}





.cat-links-row {
  padding-top: 28px;
  padding-bottom: 28px;
  background-color: rgb(243, 243, 243);
  margin-top: 32px;
}



.cat-links-w {
}

.cat-links-ul {
  display: flex;
  justify-content: space-between;
  li {
  }

  a {
    font-size: 26px;
    font-weight: 300;
    letter-spacing: -0.02em;
    color: rgb(102, 102, 102);
    &:hover {
      border-bottom: 1px solid #000;
      text-decoration: none;
      color: #000000;
    }
    &.active {
     border-bottom: 1px solid #000;
     text-decoration: none;
     color: #000000;
   }  
 }
}



.cat-links-row-2 {
  padding-top: 20px;
  padding-bottom: 20px;  
}

.cat-links-w-2 {
}

.cat-links-ul-2 {
  display: flex;
  justify-content: space-between;
  li {
  }

  a {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -0.02em;
    color: rgb(0, 0, 0);
    &:hover {
      border-bottom: 1px solid #000;
      text-decoration: none;
    }
    &.active {
     border-bottom: 1px solid #000; 
     text-decoration: none;
   }
 }
}


.accordion-container {

}
.accordion-item {
  background-color: #f3f3f3;
  color: #868685;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.005em;
  margin-bottom: 19px;
  padding: 26px 39px;
  display: flex;        
}
.accordion-header {
  font-weight: 400;
  display: flex;  
  align-items: center;

  span {    
    padding-right: 37px;
    display: block;
    width: 100%;
    background: url("../img/plus.png") $nr right top 5px;
  }
  &.active-header {
    span {
     background: url("../img/minus.png") $nr right top 20px;   
   }
 }
 .advantages__num {
  border-color: #868685;
  color: #868685;
}
}
.accordion-content {

  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  margin-top: 25px;  
  width: 100% $i;
  display: none;
  padding-left: 56px;
}


.accordion-num-w {
  flex: none;
  margin-right: 16px;
  .advantages__num {
    margin-bottom: 0;
  }
}

.accordion-r {
  width: 100%;  
  flex-grow: 1;
  line-height: 1.7;
}

.faq-page {
  margin-top: 98px;
}

@media only screen and (max-width : 480px) {
  .accordion-content {
    padding-left: 42px;
    padding-left: 0;
    margin-top: 10px;
  }
  .accordion-item {
    padding: 20px;
  }
  
}
@media only screen and (max-width : 1199px) {
  .faq-page {
    margin-top: 50px;
  }
}
@media only screen and (max-width : 767px) {
  .accordion-item {
    font-size: 17px;  
  }  
  .accordion-header span,
  .accordion-header.active-header span {    
    background-size: 15px;
  }
  .accordion-header.active-header span {
    background-position: right 0 top 15px;
  }
}


.revs {
  background: #f1f1f1;
  padding: 72px 0;
}


.revs-row {

}

.revs-col {

}

.revs-it {
  background-color: #FFF;
  padding: 38px 60px;
  width: 100%;
}
.revs-top {}
.revs-name {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 7px;
}
.revs-date {
  color: #868685;
  font-size: 18px;
}
.revs-stars {
  display: flex;  
  align-items: center;
  margin: 23px 0 28px 0;
}
.revs-star {
  width: 22px;
  height: 22px;            
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url('../img/star.png');
}
.revs-star-o {
  background-image: url('../img/star-o.png');
}
.revs-txt {
  font-size: 20px;
  line-height: 1.85;
  font-weight: 400;
  color: #000000;
}

.revs-tit {
  text-align: center;
  font-weight: 700;
  margin-bottom: 50px;
}

.faq-body {
  .footer {
    margin-top: 0;
  }
}

.cat-items {
  margin-top: 49px;
}

.iocn-item {
  position: absolute;
  right: 21px;
  top: 21px;
  height: 37px;
  padding: 0 12px;
  display: inline-flex;  
  align-items: center;
  justify-content: center;          
  font-weight: 300;
  letter-spacing: -0.02em;
  color: #808080;
}
.icon-item--soon {
  background-color: #F1FFEE;
}
.icon-item--new {  
  background-color: #FFF;
}
.icon-item--sale {
  background-color: #ffe9f8;
}

.more-cat-items-link-w {
  display: flex;  
  justify-content: center;
  margin-top: 58px;
}

.cat-popprods {
  margin-top: 68px;
}


.see-popprods {
  background-color: #FFF;
  padding-top: 68px;
  h4 {
    margin-bottom: 57px;
  }
}

.error-page {
}




.prod-gal-b {
  width: 100%;  
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;  
  flex-grow: 1;
  height: 677px;
  img {
    max-width: 100%;
  }
}




 



.sprod {
  margin-bottom: 73px;
  margin-top: 80px;
}



.prod-w {
  display: flex;
  justify-content: space-between;
  padding-right: 120px;
}

.prod-l {
  flex: 1 1 auto;
  
}

.prod-l-gal {
  display: flex;
}



.prod-gal-b-span {
  background-image: url("../img/search.png");
  background-repeat: no-repeat;
  background-position: center top;
  width: 22px;
  height: 23px;
  align-items: center;
  justify-content: center;
  display: flex;
  position: absolute;
  top: 57px;
  right: 57px;
}

.prod-gal-min-w {  
  flex-direction: column;
  width: 155px;
  flex: none;
  img {
    max-width: 100%;
  }
}

.prod-gal-min {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;  
  border: 1px solid #F4F4F4;
  margin-bottom: 24px;
}

.prod-gal-row {
  display: flex;  
}

.prod-gal-downl {
  display: inline-flex;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.02em;
  color: rgb(102, 102, 102);
  align-items: center;
  margin-right: 77px;
}

.prod-gal-downl-span {
  background-image: url("../img/downl_1.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  width: 49px;
  height: 49px;
  border: 1px solid rgb(102, 102, 102);
  margin-right: 23px;
  flex: none;
}

.prod-r {
  padding-top: 19px;
  margin-left: 0px;
  flex: 0 0 auto;
  max-width: 421px;
  width: 100%;
  margin-left: 150px;
}

.prod-r-desc {
}

.prod-r-desc-txt-w {
  margin-bottom: 36px;
}

.prod-r-desc-txt-1 {  
  font-size: 30px;
  margin-bottom: 23px;
  display: block;
}

.prod-r-desc-txt-2 {
  font-size: 24px;
  font-weight: 300;
  display: inline-block;
  border-bottom: 1px solid #000;
  color: rgb(0, 0, 0);
  margin-bottom: 35px;
  &:hover {
    text-decoration: none;
  }
}

.prod-r-opt {
  p {
    font-size: 23px;
    line-height: 1.2;
    font-weight: 300;
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
  }
}



.prod-r-gal-row {
  display: flex;
  margin-bottom: 46px;  
          flex-wrap: wrap;
          -webkit-justify-content: space-between;
                  justify-content: space-between;
  .prod-gal-min {
    width: calc(33.3333% - 14px);
    margin-bottom: 0;
    img {
      max-width: 100%;
    }
  }
}

.prod-r-desc-txt-w-2 {
  margin-bottom: 21px;
}

.prod-r-desc-txt-3 {
  margin-right: 17px;
}

.prod-r-desc-txt-4 {  
  font-size: 23px;
  font-weight: 300;
  color: #000000;
  text-decoration: line-through;
  display: inline-block;
  
}

.prod-r-desc-txt-5 {  
  margin-bottom: 44px;
}

.prod-r-desc-txt-6 {
  font-size: 24px;
  font-weight: 500;
  text-decoration: underline;
  letter-spacing: -0.02em;
  color: #666666;
  display: block;
}

.vid {
  margin-bottom: 73px;
}

.vid-a {
  display: block;
  background-color: rgb(228, 228, 228);
  height: 590px;
  position: relative;
  display: flex;  
  align-items: center;
  justify-content: center;
  &:after {
    content: "";
    display: block;
    width: 80px;
    height: 80px;
    position: absolute;
    background-color: #FFF;
    border-radius: 50%;
    background: url("../img/video-icon.svg") $nr center;

    background-size: cover;
  }
}

.desc {
}

.desc-w-2 {
  display: flex;  
  justify-content: space-between;
}

.desc-col {
  width: calc(50% - 26px);
  p {    
    line-height: 1.3;
    font-weight: 300;
    color: rgb(0, 0, 0);
    margin-bottom: 35px;
  }
}

.tleft {
  text-align: left;
}

.prod-page {
  .bread-w {
    margin-top: 51px;
  }
}




.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 13;    
  background: rgba(0, 0, 0, 0.7);
  display: none;
}

.modal-form__layout {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
  margin-bottom: 40px;
}

.modal-overlay .modal-form__block {
  position: absolute;
  top: 5%;
  margin-bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 6;   
  width: calc(100% - 30px);
  background: #FFF;
  max-width: 1410px;
  height: auto;
  padding: 40px;    
}

.pop-close {
  right: 15px;
  top: 15px;
  background: url("../img/close.svg") $nr center;  
          background-size: cover;
          cursor: pointer;
}


@import "_media.scss";
@import "_hides.scss";
@import "_after-styless";